/PythonInclude
/AIManager.exe
/addr_check.exe
*.bin
*.obj
/lapi.o
/list.glvn
/th123_ai.pch
/th105_ai.RES
/test.ai
/script
/script_data
/Debug
/ipch
/Release
/lua_engine/Debug
/lua_engine/Release
/lua_engine/lua_engine.vcxproj.user
/th123_ai/Release
/th123_ai/Debug
/th123_ai/th123_ai.vcxproj.user
/th123_ai.opensdf
/th123_ai.sdf
/th123_ai.suo
/deploy/Debug
/deploy/Release
/deploy/deploy.vcxproj.user
/inc_version/inc_version.vcxproj.user
/inc_version/Debug
/inc_version/Release